body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  box-sizing: border-box;
  height: 100%;
}

@font-face {
  font-family: FiraSansRegular;
  src: url(./assets/fonts/FiraSans-Regular.ttf);
}

.clock-time {
  font-family: FiraSansRegular !important;
  font-size: 100px !important;
  width: 400px;
}

.clock-title {
  font-family: FiraSansRegular !important;
  font-size: 26px !important;
  margin-left: 15px !important;
}
